<form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
  <mat-form-field>
    <input type="text" matInput placeholder="Username" formControlName="username" pattern="^[a-zA-Z0-9_.-]*$" required>
  </mat-form-field>  
  
  <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password" required>
  </mat-form-field>
  
  <p class="error">
    {{errorMessage}}
  </p>

  <p class="loginButtons ">
    <button type="submit" mat-button [disabled]='loginForm.invalid'>Login</button>
  </p>    
</form>
  
  