<mat-card>
    <mat-card-title>Mobile Data Marketplace</mat-card-title>
    <mat-tab-group>
        <mat-tab label="Login">
            <mat-card>
                <mat-card-title>Login</mat-card-title>
                <mat-card-content>
                    <app-login></app-login>
                </mat-card-content>
            </mat-card>
        </mat-tab>
        <mat-tab label="Sign up">
            <mat-card>
                <mat-card-title>Sign up</mat-card-title>
                <mat-card-content>
                    <app-signup></app-signup>
                </mat-card-content>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</mat-card>